$primary-color: #fff;
$secondary-color: #515855;

%CeraPro-300 {
  font-family: "Cera Pro";
  font-weight: 300;
}

%CeraPro-400 {
  font-family: "Cera Pro";
  font-weight: 400;
}

%CeraPro-500 {
  font-family: "Cera Pro";
  font-weight: 500;
}

%CeraPro-700 {
  font-family: "Cera Pro";
  font-weight: 700;
}

%Cormorant-400 {
  font-family: "Cormorant";
  font-weight: 400;
}

%Cormorant-500 {
  font-family: "Cormorant";
  font-weight: 500;
}

%ProximaNova-600 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}